.Food-Map-Container {
  position: relative;
  width: 100%;
  height: calc((100vh - 70px) - 72px);
  display: flex;
  flex-direction: row;
}

.Food-Map-Wrapper {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.Food-Nearby-Wrapper {
  z-index: 100;
  box-shadow: rgba(0, 0, 0, 0.06) 1px 2px 10px 0px;
  width: 368px;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 36px;
  padding-top: 36px;
  overflow-y: auto;
  flex: 0 0 auto;
}
