.ani {
height: 7px;
width: 69px;
top: 732px;
left: 606px;
background: #9D1621;
margin: auto;
}
.cont-head {
    text-align: center;
    h3 {
        font-weight: normal;
        padding-bottom: 15px;
    }
    p {
        font-size: small;
        padding-bottom: 15px;
        opacity: 0.7;
    }
}
.section-cont {
    padding: 50px;
}

.cont-body {
    height: 300px;
    padding-bottom: 100px;
}