.cart-container {
  background-color: rgb(255, 255, 255);
  filter: drop-shadow(rgba(16, 25, 30, 0.08) 0px 1px 4px);
  position: absolute;
  z-index: 1100;
  width: 362px;
  max-height: 550px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(242, 243, 243);
  border-image: initial;
  @media screen and (min-width: 768px) {
    bottom: -13px;
    left: calc((-50% + 62.5px) + -100px);
    transform: translate(calc((-50% + 62.5px) + 0px), 100%);
  }
}

.cart-container::before,
.cart-container::after {
  position: absolute;
  width: 0px;
  height: 0px;
  content: '';
  bottom: 100%;
  left: calc(50% - -100px);
  border-width: initial;
  border-style: solid;
  border-color: transparent;
  border-image: initial;
}

.cart-container::before {
  @media screen and (min-width: 768px) {
    margin-left: -9px;
    border-bottom-color: rgb(242, 243, 243) !important;
    border-width: 9px !important;
  }
}

.cart-container::after {
  @media screen and (min-width: 768px) {
    margin-left: -8px;
    border-bottom-color: rgb(255, 255, 255) !important;
    border-width: 8px !important;
  }
}
.custom-cart-header {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 1061px) {
    flex-direction: column-reverse;
  }
}

.cart-header-content {
  padding-left: 16px;
  padding-right: 16px;
}

.cart-header-h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  letter-spacing: -1.16px;
  font-weight: 600;
  line-height: normal;
  padding-top: 20px;
  padding-bottom: 16px;
}

.custom-cart-body {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  letter-spacing: -1.16px;
  font-weight: 600;
  line-height: normal;
  padding-bottom: 16px;
}

.cart-body-height {
  max-height: 250px;
  overflow-y: scroll;
}

.cart-body-content {
  padding-left: 16px;
  padding-right: 16px;
  border-top: 1px solid rgba(217, 219, 224, 0.5);
  @media screen and (min-width: 1061px) {
    overflow-y: auto;
    max-height: 250px;
    border-top: none;
  }
}

.custom-cart-section {
  display: flex;
  padding-top: 24px;
  padding-bottom: 28px;
  min-height: 60px;
  border-bottom: 1px solid rgba(217, 219, 224, 0.5);
  :last-child {
    border-bottom: 0px;
  }
}

.custom-cart-item {
  display: flex;
  cursor: pointer;
  flex: 1 1 0%;
}

.custom-item-number {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: -0.28px;
  font-weight: 500;
  line-height: normal;
}

.custom-cart-list {
  flex: 1 1 0%;
  padding: 0px 20px;
}

.custom-cart-item-name {
  font-family: 'Roboto';
  font-size: 16px;
  letter-spacing: -0.28px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 4px;
}

.custom-cart-item-category {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.14px;
  font-weight: 400;
  line-height: normal;
  color: rgb(143, 149, 163);
  overflow: hidden;
  margin: 4px 0px 6px;
}

.custom-cart-subtotal {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: -0.48px;
  font-weight: 600;
  line-height: normal;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 26px 16px;
}

.cart-checkout-btn {
  -webkit-appearance: none;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  letter-spacing: 0.72px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: normal;
  cursor: pointer;
  text-align: center;
  height: 56px;
  background-color: #9c1c26;
  color: rgb(255, 255, 255);
  bottom: 0px;
  left: 0px;
  width: 95%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  z-index: 400;
  padding: 0px;
  margin: 0px auto;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  outline: none;
  transition: background-color 0.2s ease-in-out 0s, color 0.2s ease-in-out 0s;
  border-radius: 28px;
  &:focus {
    border: 0;
    outline: 0;
  }
  @media screen and (min-width: 1061px) {
    position: static;
    width: calc(100% - 32px);
    margin: 0px 16px 16px;
  }
  .cart-checkout-btn-text {
    text-align: center;
    flex: 1 1 0%;
  }
}

.cart-cancel-icon {
  margin-left: 15px;
  cursor: pointer;
  margin-top: -7px;
}
