.custom-span {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #949494;
}

.custom-button {
    background: #F5E7D8;
    border-radius: 5px;
    width: 132px;
    height: 51px;
    border: 1px solid #F5E7D8;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #9D1621;
}