.order-info {
    background: #F7F7F7;
}

.order-bg {
    position: relative;
    width: 300px;
    height: 381px;
    background: #F5E7D8;
}

.order-img {
    width: 390px;
    height: 400px;
    object-fit: contain;
    position: absolute;
    top: 0px;
}

.order-info h4 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 35px;
    color: rgba(0, 0, 0, 0.8);
    margin-top: 100px;
}

.order-info p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    width: 390px;
    color: #949494;
}