.add-to-cart-text {
  text-align: right;
  flex: 1 1 0%;
}

.price-cart-button {
  font-size: 14px;
  letter-spacing: 0.72px;
  font-weight: 500;
  line-height: normal;
  text-align: right;
  flex: 1 1 0%;
}

.add-to-cart-button {
  width: 100%;
  height: 60px;
}
