.sub-menus {
  padding-left: 25px;

  .sub-menu {
    display: flex;
    flex-direction: row;
  }

  .header {
    font-size: 12px;
    letter-spacing: 0.72px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: normal;
    color: rgb(45, 49, 56);
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(217, 219, 224, 0.5);
  }

  .menu-text {
    text-transform: capitalize;
    margin-left: 18px;
    cursor: pointer;
    -webkit-box-flex: 1;
    flex-grow: 1;
    font-size: 14px;
    letter-spacing: 0.14px;
    font-weight: 400;
    line-height: normal;
    &:focus {
      outline: none
    }
  }
};
