.custom-icon {
    color: #9D1621;
    border-radius: 50%;
    border :  2px solid #E5E5E5;
    width: 70px;
    height: 70px;
    line-height: 70px !important;
}


.feedback-content{
    margin-top: 20px;
}


.heading{
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    width: 284px;
    color: #000000;
    margin: auto;
}


.text-align {
    text-align: center;
}


.feedback-note {
    font-family: Roboto;
    font-weight: normal;
    font-size: 15px;
    color: #848484;
    text-align: center;
    width: 327px;
    margin: auto;
    margin-top: 20px;
}


.view-item {
    font-family: Roboto;
    font-weight: 500;
    font-size: 15px;
    color: #848484;
    margin-right: 25px;
}


.cancel-order {
    font-family: Roboto;
    font-weight: 500;
    font-size: 15px;
    color: #9D1621;
    margin-left: 25px;
}
