
.low-down {
    background: #f2f2f2;
    padding: 40px;
    height: 25vh;
    padding-left: 220px;
      p {
          opacity: 0.6;
          padding-top: 10px;
          font-size: smaller;
          width: 60vh;
      }
}