@import "../../../stylebase/variables.scss";

$bgColor: #f9fbe7;

.intro-section {
  width: 100%;
  height: 580px;
  font-family: 'Roboto', sans-serif;
  background-image: url('../img/rectangle54.png');
  display: block;
  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.767);
  background-repeat: no-repeat;
  background-size: cover;
}


.large-text-section {
  max-width: 544px;
  margin: auto;
  margin-top: 70px;
  color: $color-white;
}

.max-search-location {
  // max-width: 543px;
  max-width: 530px;
}

.address-input-section {
  border: 1px solid $color-black;
}

.address-input {
  height: 58px;
}

.larger-text {
  font-size: 40px;
  font-weight: 600;
}

.small-text-section {
  margin-top: 20px;
  padding-left: 250px;
  padding-right: 250px;
  padding-bottom: 20px;
}

.sub-text {
  font-size: 16px;
  font-weight: 400;
  color: $color-black;
}

@media (max-width: 767.98px) {
  .large-text-section,
  .small-text-section {
    padding-left: 10px;
    padding-right: 10px;
  }

  .intro-section {
    border-bottom: 20px solid $color-light-gray;
    height: 530px;
  }

  .larger-text {
    letter-spacing: -2.17px;
    line-height: 48px;
    margin-bottom: 9px;
    font-size: 36px;
  }

  .sub-text {
    display: none;
  }

  .search-location-section {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .large-text-section,
  .small-text-section {
    padding-left: 80px;
    padding-right: 80px;
  }

  .larger-text {
    font-size: 40px;
  }

}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .small-text-section {
    padding-left: 200px;
    padding-right: 200px;
  }

  .larger-text {
    font-size: 40px;
  }
}
