$bgColor: #f9fbe7;

.intro-section {
  width: 100%;
  height: 580px;
  background-color: $bgColor;
  font-family: 'Roboto', sans-serif;
}

.large-text-section {
  margin-top: 70px;
  padding-left: 300px;
  padding-right: 300px;
}

.address-input-section {
  border: 1px solid #eceff1;
}

.address-input {
  height: 58px;
}

.larger-text {
  font-size: 56px;
  font-weight: 600;
}

.small-text-section {
  margin-top: 20px;
  padding-left: 250px;
  padding-right: 250px;
}

.search-location-section {
  margin-top: 40px;
  padding-left: 325px;
  padding-right: 325px;
}

.sub-text {
  font-size: 16px;
  font-weight: 400;
  color: #000;
}

@media (max-width: 767.98px) {
  .large-text-section,
  .small-text-section {
    padding-left: 10px;
    padding-right: 10px;
  }

  .intro-section {
    border-bottom: 20px solid #f7f7f8;
    height: 530px;
  }

  .larger-text {
    font-size: 40px;
  }

  .sub-text {
    display: none;
  }

  .search-location-section {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .large-text-section,
  .small-text-section {
    padding-left: 80px;
    padding-right: 80px;
  }

  .larger-text {
    font-size: 40px;
  }

  .search-location-section {
    padding-left: 130px;
    padding-right: 130px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .large-text-section,
  .small-text-section {
    padding-left: 200px;
    padding-right: 200px;
  }

  .larger-text {
    font-size: 40px;
  }

  .search-location-section {
    padding-left: 230px;
    padding-right: 230px;
  }
}
