.input-acc-details {
  border: none;
  padding-bottom: 15px;
  cursor: pointer;
  outline: none;
  padding: 8px 10px 10px 0px;
  font-weight: 400;
  font-family: PostmatesStd, 'Helvetica Neue', Helvetica;
  font-size: 16px;
  letter-spacing: -0.28px;
  line-height: normal;
  width: 100%;
  color: rgb(45, 49, 56);
  padding: 0px;
  margin: 0px;
}

.input-acc-details-section {
  padding-top: 25px;
  border-bottom: 1px solid #eceff1;
  padding-bottom: 25px;
}

.form-acc-details {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.edit-save-toggler {
  font-family: PostmatesStd, 'Helvetica Neue', Helvetica;
  font-size: 12px;
  letter-spacing: 0.72px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: normal;
  color: rgb(45, 49, 56);
  cursor: pointer;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  background: transparent;
}

.edit-save-toggler:focus {
  outline: none;
}
