$fontFamily: 'Fira Sans', sans-serif;
$fontWeight: 600;

.navbar {
  height: 65px;
}

@mixin button($color, $fontSize) {
  cursor: pointer;
  color: $color;
  letter-spacing: 0.72px;
  text-transform: uppercase;
  line-height: normal;
  outline: none !important;
  font-weight: $fontWeight;
  font-size: $fontSize;
  margin-right: 10px;
  font-family: $fontFamily;
}

.link-btn {
  @include button(#222, 12px);
  padding-bottom: 10px;
  padding-top: 10px;
}

.nav-search-btn {
  cursor: pointer;
  margin-bottom: 2rem !important;
  display: inline-flex;
}

.d-sm-none-customize {
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.d-md-none-customize {
  @media screen and (min-width: 769px) {
    display: none;
  }
}

.active {
  border-bottom: 2px solid rgba(32, 47, 50, 0.15);
}

@media (max-width: 767.98px) {
  .container {
    padding: 0px;
  }
}
