@import "../../stylebase/variables.scss";

.Primary-Color {
  color: $color-primary;
}

.suggestion-geo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0;
  span {
    font-size: 16px;
    letter-spacing: -0.3px;
    line-height: 1.5;
  }
  .secondary-address-suggest {
    color: $color-lightslategray;
  }
}

.Suggestion-Address {
  align-items: center;
  border-bottom: 1px solid #E9E9E9;
  height: auto;
  align-self: flex-start;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 10px 0;
  background-color: $color-white;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  .suggestion-geo {
    margin: 0;
  }
  &:hover {
    background-color: $color-white;
  }
  h4 {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.suggestion-group-style {
  align-items: flex-start;
  border-bottom: 1px solid $color-gray;
  border-left: 1px solid $color-gray;
  border-right: 1px solid $color-gray;
  height: auto;
  align-self: flex-start;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 10px 0;
  background-color: $color-light-gray;
  display: flex;
  cursor: pointer;
  &:hover {
    background-color: #fafafa;
  }
  h4 {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
  }
}
