.meal-picture-section {
  &::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    z-index: inherit;
    /* background-color: rgba(45, 49, 56, 0.03);*/
  }
}

.meal-card {
  border: 1px solid #eceff1;
  height: 128px;
  cursor: pointer;
}

.meal-card:hover {
  background-color: #f5f5f5;
}

.meal-title-section {
  padding-left: 20px;
  padding-top: 16px;
  font-size: 14px;
  text-transform: capitalize;
}

.meal-title {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: -0.28px;
  font-weight: 500;
  line-height: normal;
  display: block;
  color: rgb(45, 49, 56);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0px 0px 5px;
}

.meal-picture {
  height: 127px;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.price-tag-section {
  padding-left: 20px;
}

.meal-description-section {
  padding-left: 20px;
  font-size: 12px;
  min-height: 45px;
}

.meal-description {
  padding-top: 5px;
  margin-bottom: 10px;
  font-size: 14px;
  color: rgba(143, 149, 163, 0.9);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.14px;
  font-weight: 400;
  line-height: 1.43;
  color: rgba(143, 149, 163, 0.9);
  overflow: hidden;
}

@media (max-width: 767.98px) {
   /*.meal-description-section {
     min-height: 40px;
   } */

  .meal-details-column {
    max-width: 62.5%;
    flex: 0 0 62.5%;
  }

  .meal-picture-column {
    max-width: 37.5%;
    flex: 0 0 37.5%;
    /* padding-right: 0px; */
  }
}
