$fontFamily: 'Roboto', sans-serif;
$color: #9c1c26;
$white: rgb(217, 219, 224);

@mixin button($btnColor) {
    font-family: $fontFamily;
    color: white;
    font-size: 14px;
    font-weight: 600;
    border-radius: 28px;
    text-transform: uppercase;
    height: 48px;
    width: 100%;
    outline: none;
    border: none;
    background: $btnColor;
    transition: background-color 0.2s ease-in-out 0s, color 0.2s ease-in-out 0s;
}

.padding {
    padding: 0 25px 0 25px;
    @media screen and (max-width: 761px) {
        padding: 0 15px
    }
}

.form {
    background: rgb(249, 249, 249);
    padding: 10px 0 20px;
    @media screen and (max-width: 761px) {
        background: rgb(255, 255, 255);
        box-shadow: none;
    }
}

.button {
    @include button($color)
}

.disabled {
    @include button($white);
}

.facebk-btn {
    @include button($color);
    background: rgb(59, 89, 152);
    letter-spacing: 1.19px;
}

.facebk-icon {
    color: white;
    position: absolute;
    right: 20px;
    bottom: 10px
}

.link {
    font-size: 12px;
    letter-spacing: 0.19px;
    font-weight: 400;
}

.form-options {
    width: 100%;
    margin: 0;
    border-top: 1px solid rgb(217, 219, 224);
    margin-top: 40px;
    padding-bottom: 15px;
    text-align: center;
    @media screen and (max-width: 761px) {
        & {
            display: none
        }
    }
}

.form-options p {
    margin: 0;
    padding-top: 20px;
    font-size: 14px;
}

.divider-box {
    padding: 0 25px 0 25px;
    @media screen and (max-width: 761px) {
        padding: 0 15px
    }
}

.divider {
    overflow: hidden;
    text-align: center;
}

.divider:before,
.divider:after {
  background-color: rgb(217, 219, 224);
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 45%;
}

.divider:before {
    right: 0.5em;
    margin-left: -45%;
}
  
.divider:after {
  left: 0.4em;
  margin-right: -45%;
}

.form-auth {
 padding-top: 15px;
}

@media (max-width: 500.98px) {
  .pb-3 {
    min-height: 100vh;
  }
}
