.Business-Adress {
  display: none;
  padding: 24px 0 15px;
  @media screen and (min-width: 1060px) {
    padding: 50px 0 30px;
  }
}

.Business-Address--active {
  display: block;
  padding: 24px 0px 15px;
  @media screen and (min-width: 1060px) {
    padding: 50px 0px 30px;
  }
}

.Business-Address--underline {
  height: 1px;
  background-color: rgba(217,219,224,0.5);
  @media screen and (max-width: 1059px) {
    margin-left: -16px;
    margin-right: -16px;
  }
}

.Business-Address-Wrapper {
  padding-top: 54px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

.Business-Address-Map {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: auto;
  -ms-flex: auto;
  flex: auto;
  background-color: #D9DBE0;
  min-height: 290px;
  @media screen and (min-width: 768px) {
    -webkit-flex-basis: 57.2%;
    -ms-flex-preferred-size: 57.2%;
    flex-basis: 57.2%;
    max-width: 57.2%;
  }
}

.Business-Address-Map-Content {
  width: 100%;
  display: flex;
  min-height: 290px;
  flex: 1 1 auto;
}
