.Dismiss-Modal {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
  &.Dismiss-Modal--right {
    display: flex;
    justify-content: flex-end;
  }
  &.Dismiss-Modal--left {
    display: flex;
  }
}

.Rotate--Icon {
  transform: rotateY(145deg);
  svg {
    height: 40px;
    width: 34px;
  }
}

.Dismiss-Modal:not(:disabled):not(.disabled):focus, .Dismiss-Modal:not(:disabled):not(.disabled):hover {
  opacity: .75;
}

.Dismiss-Modal:hover {
  color: #000;
  text-decoration: none;
}
