.bukka-meals-header {
  text-transform: capitalize;
  border-bottom: 1px solid #eceff1;
  padding-bottom: 15px;
}

.meal-column {
  padding-bottom: 32px;
}

.menu-section {
  padding-top: 30px;
  padding-bottom: 25px;
}

.menu-catalogs {
  margin-bottom: 60px;
}