.navbar {
  height: 65px
}

.user-default-img {
  height: 32px;
  width: 32px;
  img {
    border-radius: 50%
  }
}

.bg-transparent {
  background: transparent
}

.bukka-btn {
    display: flex;
    min-width: 80px;
    height: 32px;
    cursor: pointer;
    border-radius: 28px;
    color: #222;
    letter-spacing: 0.72px;
    text-transform: uppercase;
    line-height: normal;
    outline: none !important;
    font-size: 12px;
    margin-right: 10px;
    background-color: inherit;
    font-family: "Roboto", sans-serif;
    border: none;
    align-items: center;
}

@media (min-width: 767px) {
    .bukka-md-inline-flex {
      display: inline-flex!important
    }
}

@media (max-width: 767.98px) { 
  .container {
    padding: 0px
  }
 }
