.profile-image-section {
  padding-top: 50px;
}

.profile-image-div {
  border-radius: 50%;
  padding-bottom: 20px;
}

.profile-photo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px dotted #eceff1;
}

.button-text {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  margin: auto;
}

.select-photo {
  position: absolute;
  width: 160px;
  height: 40px;
  opacity: 0;
  cursor: pointer;
}

.profile-image-section {
  padding-top: 20px;
}

.profile-header-small {
  .profile-header-title {
    font-size: 25px;
    padding-top: 15px;
  }
}

@media(max-width: 991.98px) {
  .upload-image-button-section {
    padding-top: 0px;
  }

  .profile-image-div {
    padding-bottom: 5px;
  }
}

@media(min-width: 992px) and (max-width: 1025px) {
  .button-text {
    font-size: 8px;
  }
}
