@import url('https://fonts.googleapis.com/css?family=Roboto');

$font-style: 'Roboto', sans-serif;

body {
  font-family: $font-style;
}

.transaction-history {
  line-height: 1.7;

  &:after {
    content: '';
    display: block;
    width: 10%;
    border-bottom: 3px solid black;
  }
}

.bold {
  font-weight: bold;
}

@media (max-width: 621px) {
  .row-custom {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.custom-border {
  border: 0.5px solid #dee2e6 !important;
}

.custom-border-px {
  border-left: 0.5px solid #dee2e6 !important;
  border-right: 0.5px solid #dee2e6 !important;
}

.font-size-13 {
  font-size: 13px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-16 {
  font-size: 16px;
}

.custom-border-py {
  border-top: 0.5px solid #dee2e6 !important;
  border-bottom: 0.5px solid #dee2e6 !important;
}

.text-color {
  color: #9c1c26;
}

.light {
  font-weight: 400;
}

.history {
  min-height: 90vh;
  background: #f9f9f9;
  // padding: 100px 0 60px 0;
  @media (max-width: 621px) {
    padding: 0;
  }
}

.d-bg-white-none {
  background: #fff;
  @media (max-width: 992px) {
    background: transparent;
  }
}

.border-line {
  color: #dee2e6;
}

.border-box {
  box-sizing: border-box;
}
