.full-page {
  display: flex;
  width: -webkit-fill-available;
  height: 100vh;
  position: relative;
  .card {
    position: absolute;
    left: 2rem;
    top: 3rem;
    padding: 1.4rem 0.6rem;
    border-radius: 8px;
    h2 {
      font-weight: 500;
    }
    .motto {
      font-size: 13px;
      color: #949494;
    }
    .delivery-info {
      display: flex;
      flex-direction: column;
      .title-time {
        margin: 1rem 0;
        display: flex;
        justify-content: space-between;
        font-size: 15px;
        .time {
          color: #9d1621;
        }
        .progress {
          color: #9d1621;
          background-color: #9d1621;
        }
      }
    }
    .order-info {
      .order-list {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
          display: flex;
          justify-content: space-between;
        }
      }
    }
    .profile {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      .profile-details {
        .circle {
          height: 34px;
          width: 34px;
        }
        .details {
          display: flex;
          flex-flow: column;
          .name {
            font-size: 13px;
          }
          .role {
            font-size: 10px;
          }
        }
      }
      .call {
        color: #355e1c;
      }
    }
  }
}
.text-danger {
  color: #9d1621;
}

.mb-color {
  border-bottom: 1px solid #f2f2f2;
}
.title {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}
