@import '../../stylebase/variables.scss';
$fontFamily: 'Roboto', sans-serif;

.card-container {
  position: relative;
  padding-bottom: 20px;
}

.default-overlay {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  top: 10px;
  right: 12px;
  left: 0;
}

.bukka-img-color {
  background: rgb(233, 231, 231);
}

.card-wrap {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  cursor: pointer;
  position: relative;
}

.bukka-card {
  position: relative;
  background-color: transparent;
  display: flex;
  overflow: hidden;
}

.touchdown {
  .rating {
    display: none;
  }
}

.details {
  position: relative;
  padding-top: 16px;
}

.details h3 {
  display: flex;
  margin-top: 0px;
  margin-bottom: 4px;
  font-family: $fontFamily;
  font-weight: 500;
  font-size: 16px;
  text-transform: capitalize;
  @media (max-width: 767px) {
    font-size: 13px;
  }
}

.collection-image-spacing {
  height: auto;
  padding-bottom: 58.82352941176471%;
}

.normal-image-spacing {
  height: auto;
  padding-bottom: 61.1%;
}

.cuisine-image-spacing {
  height: auto;
  padding-bottom: 119.04761904761905%;
}

.category-image-spacing {
  height: auto;
  padding-bottom: 105.047619%;
}

.custom-bukka-image {
  position: absolute;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 0.4s linear;
  transition: opacity 0.4s linear;
  background-color: rgb(233, 231, 231);
}


.custom-delivery-badge {
  color: #9c1c26;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.72px;
  position: relative;
  top: -4px;
  padding-left: 5px;
}

.delivery {
  display: flex;
  flex-direction: row;
  font-family: $fontFamily;
  font-size: 14px;
  letter-spacing: 0.14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 10px;
  color: #8f95a3;
}

.bukka-card:hover .favorite {
  opacity: 1;
}

.other-bukka-card {
  padding-top: 69px;
}

.favorite {
  opacity: 0;
  transition: opacity 200ms ease-in;
}

.delivery-fav {
  display: inline-block;
  margin-right: 5px;
  color: gold;
}

.delivery-time-text
 {
  margin-top: -3px;
  margin-left: 4px;
}

.dot-spacing {
  margin-top: -7px;
  margin-left: 4px;
}

.details-location {
  flex: 1;
  color: $color-dark-gray;
  word-break: break-all;
}

.rating {
  background-color: rgba(0, 198, 208, 0.1);
  display: inline-flex;
  color: #00c6d0;
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  padding: 0 14px;
  align-items: center;
  height: 24px;
  margin: -3px 0 -3px 8px;
}

.icon {
  align-self: center;
  height: 14px;
  width: 14px;
  margin-left: 8px;
  vertical-align: -2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.overlay-bottom, .overlay-top {
  margin: 24px 24px 0;
  max-width: 164px;
}

.overlay-bottom {
  position: absolute;
  bottom: 24px;
}

.overlay-top {
  position: absolute;
  top: 0;
}

.overlay-h4s {
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: normal;
  letter-spacing: -0.2px;
}

.overlay-h4, .overlay-top h4, .overlay-top h5, .overlay-bottom h5
{
  font-family: 'Roboto', sans-serif;
}

.overlay-top h4 {
  text-transform: capitalize
}

.overlay-h4, .overlay-top h4 {
  color: black;
  font-size: 24px;
}

.overlay-top h5 {
  color: black;
  font-size: 16px;
  @media (max-width: 992px) {
    font-size: 14px
  }
  @media (max-width: 767px) {
    font-size: 14px
  }
}

.overlay-bottom h5 {
  color: gray;
  font-size: 13px
}

@media screen and (min-width: 768px) {
  .overlay-bottom, .overlay-top {
    max-width: 190px;
  }
}

@media screen and (max-width: 444px) {
  .overlay-bottom, .overlay-top {
    margin-left: 15px;
    margin-top: 10px
  }

  .overlay-h4, .overlay-top h4 {
    font-size: 16px;
  }

  .overlay-top h5, .overlay-bottom h5 {
    font-size: 10px
  }
}

.img-small-screen {
  display: block;
  @media screen and (min-width: 576px) {
    display: none
  }
}

.img-large-screen {
  display: block;
  @media screen and (max-width: 576px) {
    display: none
  }
}
