$fontFamily: 'Roboto', sans-serif;

.card-container {
    position: relative;
}

.card-wrap {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    cursor: pointer;
    position: relative;
}

.bukka-card {
    position: relative;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.details {
    position: relative;
    padding-top: 16px;
}

.details h3 {
    display: flex;
    margin-top: 0px;
    margin-bottom: 4px;
    font-family: $fontFamily;
    font-size: 16px;
}

.delivery {
    font-family: $fontFamily;
    font-size: 14px;
    letter-spacing: 0.14px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 10px;
    color: #8F95A3;
}

.delivery-cost {
    font-weight: 500;
    color: #00CC99;
}

.bukka-card:hover .favorite {
    opacity: 1;
}

.favorite {
    opacity: 0;
    transition: opacity 200ms ease-in
}

.delivery-fav {
    display: inline-block;
    margin-right: 5px;
    color: gold;
}

.details-location {
    flex: 1;
}

.rating {
    background-color: rgba(0,198,208,0.1);
    display: inline-flex;
    color: #00C6D0;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    padding: 0 14px;
    align-items: center;
    height: 24px;
    margin: -3px 0 -3px 8px;
}

.icon {
    align-self: center;
    height: 14px;
    width: 14px;
    margin-left: 8px;
    vertical-align: -2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

// .overlay {
//     background: rgba(255, 255, 255, 0.02);
//     width: 40%;
//     font-family: 'PostmatesStd',Helvetica Neue,Helvetica;
//     font-size: 9px;
//     font-weight: 200;
//     margin-left: 10px;
//     // margin-top: -130px;
//     position: relative;
//     top: -25%;
//     color: white
// }

.overlay {
    top: -110px;
    position: relative;
    margin: 24px 24px 0;
    max-width: 164px;
}

@media screen and (min-width: 768px) {
    .overlay {
        max-width: 190px;
    }
}

.overlay h4{
    color: black
}

.overlay h5{
    color: gray
}

