@mixin control {
    outline: none;
    background: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    margin: auto;
    font-weight: 400;
    border: 0.2px solid #d9dbe0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 24px 0px;
    position: absolute;
    z-index: 2;
    align-self: center;
    margin: -50px -10px 0;
    cursor: pointer;
    transition: opacity .15s ease-in
}

@media screen and (max-width: 767px) {
    .flex-nowrap {
        flex: 0 0 calc(100% - 16px - 16px);
    }
}

.first-child-pl-0:first-child {
    padding-right: 15px;
    padding-left: 0;
}

.first-child-pl-0:last-child {
    padding-right: 0px;
    padding-left: 15px;
}

.flex-nowrap {
    flex-flow: row nowrap;
    justify-content: space-between;
    transition: transform 300ms cubic-bezier(0.86,0,0.07,1);
}

@media screen and (min-width: 768px) {
    .flex-nowrap {
        overflow-x: visible;
        overflow-y: visible;
    }
}

.overflow-hidden {
    position: relative;
    overflow-x: hidden;
}

.control-left {
    @include control;
    transform: rotate(180deg);
    left: 20px;
}

.control-right {
    @include control;
    right: 20px;
}

@media (max-width: 576px) {
    .control-right {
        display: none
    }
    .control-right {
        display: none
    }
}


.control-left:hover svg, .control-right:hover svg {
    outline: none;
    opacity: .5;
}

.control-left svg, .control-right svg {
    position: relative;
    top: 15%;
    left: 13%;
}

.carousel-container {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center
}
