@mixin control {
    outline: none;
    background: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    margin: auto;
    font-weight: 400;
    border: 0.2px solid #d9dbe0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 24px 0px;
    position: absolute;
    z-index: 2;
    align-self: center;
    margin: -40px -30px 0;
    cursor: pointer;
    transition: opacity .15s ease-in
}


.flex-nowrap {
    flex-wrap: nowrap;
    overflow-x: visible;
    transition: transform 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.overflow-hidden {
    overflow: hidden;
    // position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between
}

.style {
    transition: transform 400ms cubic-bezier(0.86,0,0.07,1);
    transform: translate(-50%, 0);
}

.control-left {
    @include control;
    transform: rotate(180deg);
    left: 20px;
}

.control-right {
    @include control;
    right: 20px;
}

.control-left:hover svg, .control-right:hover svg {
    outline: none;
    opacity: .5;
}

.control-left svg, .control-right svg {
    position: relative;
    top: 15%;
    left: 13%;
}

.carousel-container {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center
}
