@import "variables";

.medium-emphasis {
  color: $medium-emphasis;
}

.high-emphasis {
  color: $high-emphasis;
}

.text-capitalize {
  text-transform: capitalize;
}

@mixin a11y-visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}

.Imaginery-Card-Section {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.13) 0px 8px 15px 0px;
  z-index: 90;
  @media (max-width: 992px) {
    &.Imagenery-Card--Spacing {
      padding-bottom: 60px;
    }
    box-shadow: none;
    border: none;
  }
}

@mixin disabled {
  pointer-events: none;
  opacity: .75;
}

@mixin bp-large {
  @media (min-width: 960px) {
    @content;
  }
}

@mixin container {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}
