.footer {
  padding-top: 80px;
  background-color: #111;
  color: #fff;
  padding-bottom: 10px;
}

.nav-title {
  font-size: 12px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1.70px;
  margin-bottom: 20px;
}

.navs {
  margin-bottom: 100px;
}

.copyright-text {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: .1em;
  margin-bottom: 10px;
}

.footer-brand-name {
  font-size: 25px
}

.footer-brand-section, .nav-section {
  padding-bottom: 50px;
}
