$fontFamily: 'Roboto', sans-serif;

.text-capitalize {
  text-transform: capitalize;
}
.pr-17 {
  padding-right: 17px
}

.pr-15 {
  padding-right: 15px
}

.location-navbar {
  position: sticky;
  top: 65px;
  width: 100%;
  height: 70px;
  background-color: rgb(255, 255, 255);
  z-index: 300;
  border-bottom: 1px solid rgba(217, 219, 224, 0.5);
}

.location-navbar-content {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.location-navbar-delivery-pickup-section {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1 1 0%;
  @media (max-width: 992px) {
    padding-left: 0;
    padding-right: 0;
  }
  @media (max-width: 767.98px){
    padding-left: 15px;
    padding-right: 15px;
  }
}

.navbar-delivery-pickup {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  opacity: 1;
  transition: all 150ms ease-in-out 0s;
}

.delivery-or-pickup {
  display: inline-flex;
  align-items: center;
  position: relative;
}

.delivery-or-pickup-mode {
  font-size: 16px;
  letter-spacing: -0.28px;
  font-weight: 500;
  cursor: pointer;
  color: rgb(45, 49, 56);
  margin: 0px;
  padding: 0px;
}

.delivery-or-pickup-divider {
  font-size: 16px;
  letter-spacing: 0.14px;
  font-weight: 400;
  line-height: normal;
  color: rgb(143, 149, 163);
  padding-left: 8px;
  padding-right: 8px;
}

.delivery-or-pickup-active {
  position: absolute;
  bottom: -8px;
  left: 20px;
  width: 100%;
  height: 2px;
  max-width: 58px;
  background-color: #9c1c26;
  transform: translateX(0px);
  transition: max-width 150ms cubic-bezier(0.86, 0, 0.07, 1) 0s,
  transform 150ms linear 0s;
  border-bottom: none !important;
}

.delivery-or-pickup-vertical-divider {
  height: 30px;
  width: 1px;
  margin-right: 17px;
  background: rgba(217, 219, 224, 0.5);
}

.current-location-button {
  @media screen and (min-width: 768px) {
    width: initial;
    padding: 0px;
  };
  &:focus {
    outline: none;
  };
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  letter-spacing: -0.28px;
  font-weight: 500;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  color: rgb(45, 49, 56);
  height: 56px;
  text-transform: none;
  width: 100%;
  margin: 0px;
  outline: none;
  transition: background-color 0.2s ease-in-out 0s, color 0.2s ease-in-out 0s;
  border-radius: 0px;
  padding: 0px 16px;
  border: 0;
}

.current-location-button-text {
  letter-spacing: -0.28px;
  font-weight: 500;
  line-height: normal;
  font-size: 15px;
  margin: 0px;
}

.current-location-button-icon {
  margin-right: 8px;
  color: rgb(230, 223, 223);
  overflow: visible !important;
}

.location-navbar-view-map {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .view-map {
    cursor: pointer;
    text-align: center;
    background-color: rgb(45, 49, 56);
    color: rgb(255, 255, 255);
    font-size: 12px;
    letter-spacing: 0.72px;
    font-weight: 600;
    text-transform: uppercase;
    height: 40px;
    opacity: 1;
    padding: 0px 28px;
    margin: 0px;
    border: 0;
    outline: none;
    border-radius: 28px;
    transition: opacity 150ms ease-in-out 0s;
  }
}

a:hover,
div:focus {
  text-decoration: none;
  outline: none;
}
