.custom-mt-minus1 {
    margin-top: -1px;
}

.border-none {
  border: 0 !important
}

.custom-mt-minus19 {
    margin-top: -19px;
}

.modal-root {
  position: fixed;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.63);
  z-index: 1000;
  transition: background-color 100ms ease-in-out 0s;
}

.category-dropdown-section {
  @media (min-width: 768px){
    bottom: 21px !important;
    transform: translate(calc((-17% + 153px) + 0px), 100%);
  }
}

.category-dropdown-height {
  max-height: 380px !important
}

.cart-button {
  cursor: pointer;
  background: #9c1c26;
  text-align: center;
  background-color: transparent;
  font-size: 12px;
  letter-spacing: 0.72px;
  font-weight: 600;
  text-transform: uppercase;
  height: 40px;
  opacity: 1;
  padding: 10px 20px;
  margin: 0px;
  border: 0;
  outline: none;
  border-radius: 28px;
  transition: opacity 150ms ease-in-out 0s;
  &:focus {
    border: 0;
    outline: 0
  }
}

.cart-divider {
    padding-right: 12px;
    margin-right: 9px;
    position: relative;
    flex: initial;
    border-right: 1px solid rgb(217, 219, 224);
}

.custom-current-loc {
  vertical-align: bottom;
}

.current-loc-h2-text {
  display: inline-block;
  max-width: 0;
  padding-bottom: 2px;
  transition: all 1s;
  vertical-align: bottom;
  overflow: hidden;
  white-space: nowrap
}

.current-loc-h2-text-active {
  display: inline-block;
  max-width: 120px;
  transition: all 1s;
}

.custom-current-loc {
    &:hover .current-loc-h2-text {
        max-width: 120px;
        transition: all 1s;
    }
}
